<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Playfair+Display&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>

    <div class="container mt-5">
        <div class="row mt-4">
            <div class="col-md-12">   
                <h1 class="the_header">The Daily News</h1>
            <hr class="my-4"> </hr>
            </div>
        
        </div>
        <div class="row mt-4">
            <div class="col-md-6 the_headlines">
                <h3 class="news_header"> Top Stories </h3>
                    <ul class="list-group list-group-flush"> 
                        <%for details in @headlines%>
                            <li class="list-group-item"><%= "#{details["title"]}" %>  
                            <a href= <%="#{details["url"]}"%>> read more </a> 
                            </li>
                            
                        <%end%>  
                    </ul>
            </div>
            <div class="col-md-6 weather_report">    
                <h3 class="weather_header"> Weather Report</h3>  
                    <h5 class="location_header"> Location </h5> 
                        <p> <%= @location %> </p>
                    <h5 class="current_conditions"> Current Conditions </h5>                    
                        <p> <strong>Teperature:</strong> <%= @current_temperature %> </p>
                        <p> <strong>Overview:</strong> <%= @conditions %> </p>
            
                    <h5 class="future_header"> Future Forecast </h5> 
                        <ul class="list-group list-group-flush"> 
                            <%for days in @forecast%>
                                <li class="list-group-item"><%="Expect a High temperature of #{days["temperatureHigh"]} and a Low of #{days["temperatureLow"]}. #{days["summary"]}" %></li>
                        <%end%>
                        </ul>
            </div>    
        </div> 
       
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>